APP_NAME=ArtApp
APP_ENV=production
APP_KEY=fcfe831b506e52cd4a141358ce818583
APP_DEBUG=false
APP_URL=http://localhost:8080
APP_PORT=8080

DB_DRIVER=postgres
DB_HOST=db
DB_PORT=5432
DB_DATABASE=artapp_db
DB_USERNAME=artapp
DB_PASSWORD=secret

CACHE_DRIVER=redis
CACHE_HOST=redis
CACHE_PORT=6379
CACHE_PASSWORD=
